@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf6e3; /* Soft cream background */
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
